.contact-subtitle{
    margin-top: 3rem;
    margin-bottom: 20px;
}
.contact-detail{
    max-width: fit-content;
    margin: auto;
    font-size: 26px;
    font-weight: 500;
}
.contact-phone{
    letter-spacing: 6px;
}
.contact-email{
    margin-bottom: 20px;
}
.contact-icon{
    vertical-align: middle;
    margin-right: 10px;
}

@media(max-width: 320px){
    .contact-detail{
        font-size: 6vw;
    }
}