.social-wrap{
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.social-icon{
    font-size: 56px;
    color: #a4abb3;
}
.social-icon:hover{
    color: #55198b;
}
@media(max-width: 320px){
    .social-icon{
        font-size: 12vw;
    }
}