.skill-row{
    margin-top: 50px;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
}
.col-6 {
    position: relative;
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.skill-tagLine{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
}
.skill-points{
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 34px;
}

@media(max-width: 768px){
    .col-6{
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
    .skill-row {
        flex-wrap: wrap-reverse;
    }
}

@media(max-width: 320px){
    .skill-tagLine{
        font-size: 24px;
    }
    .skill-points{
        font-size: 18px;
    }
}