.welcome-main{
    width: 100%;
    height: 50vh;
    padding-top: 35vh;
    text-align: center;
}
.hello-world{
    display: inline-block;
    font-size: 3em;
}
.intro{
    font-size: 38px;
}

@media(max-width: 48em){
    .hello-world{
        font-size: 1.6em;
    }
}