.welcome-main{
    width: 100%;
    height: 40vh;
    padding-top: 35vh;
    text-align: center;
}
.title{
    display: inline-block;
    font-size: 3em;
}

@media(max-width: 48em){
    .title{
        font-size: 1.6em;
    }
}