@font-face {
  font-family: 'Agustina Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Agustina Regular'), url('./assets/fonts/Agustina.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-SemiBold.ttf') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('Montserrat'), url('./assets/fonts/Montserrat-Bold.ttf') format('woff');
}

html,
body {
  scroll-behavior: smooth;
}
/* body{
  background-color: #282e32;
} */
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  color: #323232;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::before, ::after{
  box-sizing: border-box;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}

